body .Titulos, footer h5, section .Titulos, section div h4, section h3, .grid .orden-3 h3, .grid .orden-1 h2 {
  text-align: left;
  font-family: "Domine", serif;
  color: #d9d9d9;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 10px;
  margin: 10px 10px;
  font-size: 35px;
  box-shadow: 0px 0px 5px 3px #ADA996;
}

body {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Header */
}
body header {
  position: sticky;
  top: 0;
  background-color: #001428EB;
  padding: 5px;
  box-sizing: border-box;
  z-index: 1;
  /* Section one */
}
body header section {
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  /* Navigation */
}
body header section .Logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
body header section .Logo a img {
  height: auto;
  width: 70px;
  padding: 0px 10px;
  background-color: #001428EB;
  box-sizing: border-box;
}
body header section div h1 {
  color: #d9d9d9;
  font-size: 50px;
  font-family: "Tourney", cursive;
  font-weight: 640;
  font-style: italic;
  letter-spacing: 4px;
  display: flex;
  justify-content: flex-start;
  margin: 0px 250px 0px 0px;
  box-sizing: border-box;
}
body header section div nav .Link-fondo {
  padding: 10px;
  text-decoration: none;
  color: #d9d9d9;
}
@media only screen and (min-width: 1340) and (max-width: 1439) {
  body header section div nav .Link-fondo {
    padding: 0px;
    transition: all 2s;
    transform: scale(2);
  }
}
body .whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #23A216;
  border-radius: 50%;
  padding: 15px;
}
body .whatsapp a img {
  height: auto;
  width: 60px;
}
body .whatsapp a img:hover {
  transition: all 0.7s;
  transform: scale(1.1);
}

/* Saca espaciado entre grid que por default trae el navbar de boostrap */
ol, ul {
  padding-left: 0px;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  background-color: #182b32;
  height: 500px;
  /* Section two */
  /* Fin section two */
  /* Section three */
  /* Fin section three */
  /* Section four */
  /* Fin section four */
}
.grid .orden-1 {
  order: 1;
}
.grid .orden-3 {
  order: 2;
}
.grid .orden-2 {
  order: 3;
}
.grid .orden-2 .primer-Parrafo {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 1000;
  font-size: 25px;
  background-color: #d9d9d9;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  margin: 0px 10px 100px 10px;
  display: flex;
  justify-content: center;
}
.grid .orden-2 .segundo-Parrafo {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 1000;
  font-size: 25px;
  background-color: #d9d9d9;
  border-radius: 8px;
  padding: 20px;
  margin: 15px 10px 0px 10px;
}
.grid .orden-4 {
  order: 4;
}
.grid .orden-4 ul .datos-1, .grid .orden-4 ul .datos-2, .grid .orden-4 ul .datos-3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 1000;
  background-color: #d9d9d9;
  border-radius: 8px;
  padding: 5px 20px 50px 0px;
  list-style-type: none;
  margin: 0px 10px 50px 10px;
  display: flex;
  justify-content: space-around;
}

section .Trab1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 1000;
  text-align: left;
  padding: 5px 20px 5px 20px;
  background-color: #d9d9d9;
  border-radius: 8px;
  margin: 0px 10px 10px 10px;
  font-size: 25px;
}
section section a {
  text-decoration: none;
}
section section a .img {
  width: 400px;
  height: 200px;
  margin: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 3px #ADA996;
}
section section a .img:hover {
  transition: 0.7s;
  transform: scale(1.1);
  opacity: 0.9;
}

section div .display-wrap .display-photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section div .display-wrap .display-photo .photo {
  margin-top: 20px;
  height: auto;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px #ADA996;
  box-sizing: border-box;
}
section div .display-wrap .juan {
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 24px;
  box-sizing: border-box;
}
section div .display-wrap .juan li {
  font-family: "Domine", serif;
  color: #d9d9d9;
}
section div .display-wrap .BD {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 18px;
  box-sizing: border-box;
}
section div .display-wrap .BD li {
  font-family: "Zen Loop", cursive;
  color: #d9d9d9;
}

section .maps-Domicilio {
  text-align: center;
  padding: 10px;
}

footer {
  height: 400px;
  background-color: #0F2027;
}
footer nav .footer {
  padding: 20px 80px 20px 80px;
  display: flex;
  justify-content: center;
}
footer nav .footer .footer a {
  text-decoration: none;
  color: #d9d9d9;
}
footer nav .footer .footer a .image-size {
  height: auto;
  width: 50px;
}
footer nav .footer .footer a .image-size:hover {
  transition: all 0.7s;
  transform: scale(1.3);
}
footer .derechos p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 1000;
  font-size: 18px;
  border-radius: 8px;
  color: #d9d9d9;
  padding: 10px 20px 10px 20px;
  margin: 0px 10px 100px 10px;
}

body .comun {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 1000;
  background-color: #afb2bb;
  font-size: 24px;
  margin: 20px 10px;
  padding: 10px 100px;
  border-radius: 8px;
}
body .img-comun {
  display: flex;
  justify-content: center;
}
body .img-comun .img {
  width: 400px;
  height: 200px;
  margin: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 3px #ADA996;
}
body .img-comun .img:hover {
  transition: 0.7s;
  transform: scale(1.1);
}
body section .fondo {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 5% 0%;
}

@media only screen and (min-width: 1340) and (max-width: 1439) {
  body header section div nav {
    padding: 0px;
    transition: all 2s;
    transform: scale(2);
  }
  body header section div h1 {
    margin: 0px;
    font-size: 2px;
    background-color: turquoise;
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1339px) {
  body {
    background-color: black;
  }
}
@media only screen and (min-width: 325px) and (max-width: 1079px) {
  body .grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    background-color: #182b32;
    height: 700px;
  }
  body .grid .order-1 {
    order: 1;
  }
  body .grid .order-1 h2 {
    border-radius: 4px;
    padding: 0px;
    margin: 10px 10px;
    font-size: 18px;
    box-shadow: 0px 0px 3px 1px #ADA996;
  }
  body .grid .order-2 {
    order: 3;
  }
  body .grid .order-2 p {
    font-size: 18px;
    padding: 5px 10px;
    margin: 10px;
  }
  body .grid .order-3 {
    order: 2;
  }
  body .grid .order-3 h3 {
    border-radius: 4px;
    padding: 0px;
    margin: 10px 10px;
    font-size: 18px;
    box-shadow: 0px 0px 3px 1px #ADA996;
    order: 3;
  }
  body .grid .order-4 {
    order: 4;
  }
  body .grid .order-4 ul .datos-1 {
    margin: 10px;
  }
  body .grid .order-4 ul .datos-2 {
    margin: 10px;
  }
  body .grid .order-4 ul .datos-3 {
    margin: 10px;
  }
  body header section div nav {
    font-size: 15px;
  }
  body header section div nav div a {
    padding: 0px;
  }
  body header section div nav div ul li a {
    padding: 0px;
  }
  body header section div h1 {
    margin: 0px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
