Imágenes/android-chrome-192x192.png
Imágenes/android-chrome-512x512.png
Imágenes/apple-touch-icon.png
Imágenes/favicon-16x16.png
Imágenes/favicon-32x32.png
Imágenes/favicon.ico
Imágenes/site.webmanifest
