@import "colors";
%titulos {
    text-align: left;
    font-family: 'Domine', serif;
    color: nth($color, 3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 10px;
    margin: 10px 10px;
    font-size: 35px;
    box-shadow: 0px 0px 5px 3px #ADA996;
}

