footer {
    height: 400px;
    background-color: nth($color, 4);
    h5 {
        @extend %titulos;
    }
    nav {
        .footer {
            padding: 20px 80px 20px 80px;
            display: flex;
            justify-content: center;
            .footer a {
                text-decoration: none;
                color: darken(white, 15%);
                .image-size {
                    height: auto;
                    width: 50px;
                    &:hover {
                        transition: all 0.7s;
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
    .derechos {
        p {
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-weight: 1000;
            font-size: 18px;
            border-radius: 8px;
            color: darken(white, 15%);
            padding: 10px 20px 10px 20px;
            margin: 0px 10px 100px 10px;
        }
    }
}