body {
    .collapse {
        // hace que aparezcan elementos que por defoult trae boostrap
        display: block !important;
    }
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    header {
        position: sticky;
        top: 0;
        background-color: nth($color, 1);
        box-sizing: border-box;
        z-index: 1;
        section {
            display: flex;
            align-items: center;
            .Logo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a {
                    img {
                        height: auto;
                        width: 70px;
                        padding: 0px 10px;
                        background-color: nth($color, 1);
                        box-sizing: border-box;
                    }
                }
            }
            .div-h1 {
                h1 {
                    color: darken(white, 15%);
                    font-size: 50px;
                    font-family: 'Tourney', cursive;
                    font-weight: 640;
                    font-style: italic;
                    letter-spacing: 4px;
                    margin-right: 300px;
                }
            }
        }
    }
    .menu-desplegable-inicio {
        margin: 0px;
        padding: 0px;

        // Menú desplegable para la media query
        .checkbox {
            display: none;
        }
        .menu {
            display: none;
        }
        .rigth-panel {
            position: fixed;
            top: 3%;
            right: 5%;
            z-index: 1;
            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li {
                    list-style-type: none;
                    .Link-fondo {
                        align-items: center;
                        padding: 10px;
                        text-decoration: none;
                        color: darken(white, 15%);
                    }
                }
            }
        }
    }
    .whatsapp {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #23A216;
        border-radius: 50%;
        padding: 15px;
        a{
            img {
                height: auto;
                width: 60px;
                &:hover {
                    transition: all 0.7s;
                    transform: scale(1.1);
                }
            }
        }
    }
}