body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* Header */
    header {
        position: sticky;
        top: 0;
        background-color: nth($color, 1 );
        padding: 10px;
        box-sizing: border-box;
        z-index: 9999999999;
        /* Section one */
        section {
            border: 3px solid nth($color, 2) !important;
            border-radius: 8px;
            background-color: nth($color, 1);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 5px;
            box-sizing: border-box;
                .Logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        img {
                            height: auto;
                            width: 70px;
                            padding: 0px 10px;
                            background-color: nth($color, 1);
                            box-sizing: border-box;
                        }
                    }
                }
            div {
                h1 {
                    color: darken(white, 15%);
                    font-size: 50px;
                    font-family: 'Tourney', cursive;
                    font-weight: 640;
                    font-style: italic;
                    background-color: nth($color, 1);
                    letter-spacing: 4px;
                    display: flex;
                    justify-content: flex-start;
                    margin: 0px 250px 0px 0px;
                    box-sizing: border-box;
                }
            }
            /* Navigation */
            div {
                nav {
                    .Link-fondo {
                        padding: 10px;
                        text-decoration: none;
                        color: nth($color, 3);
                    }
                }
            }
        }
    }
}