
@media only screen and (min-width:1340) and (max-width: 1439){ 
    body {
        header {
            section {
                div {
                    nav {
                        padding: 0px;
                        transition: all 2s;
                        transform: scale(2);
                    }
                }
                div {
                    h1 {
                        margin: 0px;
                        font-size: 2px;
                        background-color: turquoise;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1080px) and (max-width: 1339px) {
        body {
            background-color: black;
    }
} 

@media only screen and (min-width:325px) and (max-width: 1079px) {
    body {
        .grid {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            background-color: darken(#203A43,5%);
            height: 700px;
            .order-1 {
                order: 1;
                h2 {
                    border-radius: 4px;
                    padding: 0px;
                    margin: 10px 10px;
                    font-size: 18px;
                    box-shadow: 0px 0px 3px 1px #ADA996;
                }
            }
            .order-2 {
                order: 3;
                p {
                    font-size: 18px;
                    padding: 5px 10px;
                    margin: 10px;
                }
            }
            .order-3 {
                order: 2;
                h3 {
                    border-radius: 4px;
                    padding: 0px;
                    margin: 10px 10px;
                    font-size: 18px;
                    box-shadow: 0px 0px 3px 1px #ADA996;
                    order: 3;
                }
            }
            .order-4 {
                order: 4;
                ul {
                    .datos-1{
                        margin: 10px;
                    }
                    .datos-2{
                        margin: 10px;
                    }
                    .datos-3{
                        margin: 10px;
                    }
                }
            }
        }
        header {
            section {
                div {
                    nav {
                        font-size: 15px;
                        div {
                            a {
                                padding: 0px;
                            }
                        }
                        div{
                            ul{
                                li{
                                    a{
                                        padding: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
                div {
                    h1 {
                        margin: 0px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
// text-align: left;
// font-family: 'Domine', serif;
// color: nth($color, 3);
// padding: 10px 20px 10px 20px;
// border-radius: 8px;
// display: flex;
// justify-content: center;
// padding: 10px 0px 10px 10px;
// margin: 10px 10px;
// font-size: 35px;
// box-shadow: 0px 0px 5px 3px #ADA996;