/* Saca espaciado entre grid que por default trae el navbar de boostrap */
ol, ul {
    padding-left: 0px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    background-color: darken(#203A43,5%);
    height: 430px;
    .orden-1 {
        order: 1;
        h2 {
            @extend %titulos;
        }
    }
    .orden-3 {
        order: 2;
        h3 {
            @extend %titulos;
        }
    }
    .orden-2 {
        order: 3;
        .primer-Parrafo {
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-weight: 1000;
            font-size: 25px;
            background-color: nth($color, 3);
            border-radius: 8px;
            padding: 10px 20px;
            margin: 40px 10px 50px 10px;
            display: flex;
            justify-content: center;
        }
        .segundo-Parrafo {
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-weight: 1000;
            font-size: 25px;
            background-color: nth($color, 3 );
            border-radius: 8px;
            padding: 20px;
            margin: 15px 10px 0px 10px;
        }
    }
    .orden-4 {
        order: 4;
        ul {
            .datos-1, 
            .datos-2, 
            .datos-3 {
                font-family: 'Yanone Kaffeesatz', sans-serif;
                font-weight: 1000;
                background-color: nth($color, 3);
                border-radius: 8px;
                padding: 10px 10px;
                list-style-type: none;
                margin: 0px 10px 20px 10px;
            }
            .btn {
                margin-left: 10px;
                color: black;
                background-color: nth($color, 3);
            }
        }
    }
}