section {
    h3 {
        @extend %titulos;
    }
    p {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 1000;
        text-align: left;
        padding: 5px 20px 5px 20px;
        background-color: nth($color, 2);
        border-radius: 8px;
        margin: 0px 10px 10px 10px;
    }
    .Trab1 {
        font-size: 25px;
    }
    section {
        a {
            text-decoration: none;
            .img {
                &:hover {
                    transition: 0.7s;
                    transform: scale(1.1);
                    opacity: 0.9;
                }
            @include varios-parametros (400px, 200px, 10px 20px, 8px);
            box-shadow: 0px 0px 5px 3px #ADA996;
            }
        }
    }
}
